@page "/fetchdata"

@using BlazorisePOC2.Data
@inject WeatherForecastService ForecastService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{   
    <DataGrid TItem="WeatherForecast"
        Data=@forecasts>
        <DataGridColumn TItem="WeatherForecast" Caption="Date" Field="@nameof(WeatherForecast.Date)"></DataGridColumn>
        <DataGridColumn TItem="WeatherForecast" Caption="Temp. C" Field="@nameof(WeatherForecast.TemperatureC)"></DataGridColumn>
        <DataGridColumn TItem="WeatherForecast" Caption="Temp. F" Field="@nameof(WeatherForecast.TemperatureF)"></DataGridColumn>
        <DataGridColumn TItem="WeatherForecast" Caption="Summary" Field="@nameof(WeatherForecast.Summary)"></DataGridColumn>
    </DataGrid>    
}

@code {
    private WeatherForecast[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }
}
